.translator {
  text-align: center;
}
.translator__heading {
  margin: 50px auto 80px;
  border: 2px dashed purple;
  width: 11em;
}
.translator__result {
  width: 20em;
  margin: auto;
}

body {
  background-color: #ceedf8;
}